
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Action("PartialHead", "AdminLayout")


<body>
    <!-- Pre-loader start -->
    @Html.Action("PartialPreLoader", "AdminLayout")
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            @Html.Action("PartialNavbar", "AdminLayout")


            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        @Html.Action("Sidebar", "AdminLayout")
                    </nav>
                    <div class="pcoded-content">

                       @RenderBody()

                    </div>
                    <div id="styleSelector"></div>
                </div>
            </div>
        </div>
    </div>
    @Html.Action("PartialScript", "AdminLayout")
    
</body>

</html>

