@model List<KidKinder.Entities.Address>


@foreach (var x in Model)
{
    <div class="col-lg-5 mb-5">
        <p>
            @x.Description
        </p>
        <div class="d-flex">
            <i class="fa fa-map-marker-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
               style="width: 45px; height: 45px"></i>
            <div class="pl-3">
                <h5>Adres</h5>
                <p>@x.AddressDetail</p>
            </div>
        </div>
        <div class="d-flex">
            <i class="fa fa-envelope d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
               style="width: 45px; height: 45px"></i>
            <div class="pl-3">
                <h5>Email</h5>
                <p>@x.Email</p>
            </div>
        </div>
        <div class="d-flex">
            <i class="fa fa-phone-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
               style="width: 45px; height: 45px"></i>
            <div class="pl-3">
                <h5>Telefon</h5>
                <p>@x.Phone</p>
            </div>
        </div>
        <div class="d-flex">
            <i class="far fa-clock d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
               style="width: 45px; height: 45px"></i>
            <div class="pl-3">
                <h5>Açık Saatler</h5>
                <strong>Pazartesi - Cuma</strong>
                <p class="m-0">@x.OpeningHours</p>
            </div>
        </div>
    </div>
}

